.msg{
    margin-bottom: 50px;
    position: relative;
}

.tooltip {
    position: absolute;
    left: 20px;
    z-index: 999;
    background: red;
    color: #fff;
    min-width: 50px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
}

.msg:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transition: all 1s ease-in-out;
}
